<div id="<%= dom_id schedule %>" class="<%= card_classes(schedule) %>">
  <p>
    <%= view_date(schedule.date) %>
  </p>

  <p>
    <strong><%= "#{schedule.meal.ordinal_number}回食(#{schedule.meal.meal_foods.map { |mf| "#{mf.food.name}#{mf.amount}" }.join(' ')})" %></strong>
  </p>

  <% if schedule.has_debut_food %>
    <p>
      初めて食べる食材があります
    </p>
  <% end %>
</div>
