<div id="<%= dom_id schedule %>">
  <p>
    <%= view_date(schedule.date) %>
  </p>

  <p>
    <%= "#{schedule.meal.ordinal_number}回食(#{schedule.meal.meal_foods.map { |mf| "#{mf.food.name}#{mf.amount}" }.join(' ')})" %>
  </p>

  <p>
    <strong>初めて食べる食材がある:</strong>
    <%= schedule.meal.has_debut_food %>
  </p>
</div>
