<div id="<%= dom_id custom_holiday %>" class="shadow-lg border rounded px-6 py-4">
  <p>
    <strong>Date:</strong>
    <%= custom_holiday.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= custom_holiday.description %>
  </p>

</div>
