<h1>Editing custom holiday</h1>

<%= render "form", custom_holiday: @custom_holiday %>

<br>

<div>
  <%= link_to "Show this custom holiday", @custom_holiday %> |
  <%= link_to "Back to custom holidays", custom_holidays_path %>
</div>
