<div id="<%= dom_id meal %>">
  <p>
    Day:
    <%= meal.day %>
  </p>

  <p>
    <strong><%= "#{meal.ordinal_number}回食(#{meal.meal_foods.map { |mf| "#{mf.food.name}#{mf.amount}" }.join(' ')})" %></strong>
  </p>

  <% if meal.debut_food? %>
    <p>
      初めて食べる食材があります
    </p>
  <% end %>

</div>
