<div id="<%= dom_id meal %>">
  <p>
    <strong>Day:</strong>
    <%= meal.day %>
  </p>

  <p>
    <strong>Ordinal number:</strong>
    <%= meal.ordinal_number %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= meal.date %>
  </p>

</div>
